<div class="background">
    <div class="div_space"></div>
    <div class="container ">
        <div class="d-flex justify-content-center">
            <form action="">
                <div class="row d-flex justify-content-center">
                    <img class="img-fluid" src="../../../assets/images/smart_chat_logo.png" alt="">
                </div>
                <div class="row col-6">
                    <input type="text" placeholder="username">
                </div>
                <div class="row col-6">                    
                    <input type="text" placeholder="password">
                </div>
                <div class="row ml-4">
                    <input type="checkbox"> Remember me
                </div>
                <button class="btn btn-success col-8 d-flex justify-content-center my-2 ml-4">
                    Login
                </button>
                <div class="row">
                    Don't have an account?&nbsp;<a href="#" target="_blank">Sign up</a>
                </div>
                <div class="row">
                    <a href="#" target="_blank">Forgot your password?</a>
                </div>
            </form>
        </div>
    </div>
</div>